:root {
    --white: #ffffff;
    --baby-blue: #81a1c8;
    --baby-blue-darker: #456fa2;
    --dark: #18314f;
    --bright-blue: #6de0ff;
    --dark-blue: #26385e;
}

* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}
body {
    height: 100vh;
    width: 100%;
    background-color: var(--dark);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.logout-button {
    width: 150px;
    height: 35px;
    background-color: var(--bright-blue);
    border: none;
    border-radius: 10px;
    color: black;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 200px;
}
