:root {
    --white: #ffffff;
    --baby-blue: #81a1c8;
    --baby-blue-darker: #456fa2;
    --dark: #18314f;
    --dark-purple:#180026;
}

a {
    text-decoration: none;
    color: white;
    padding: 20px 0px;
    font-size: 20px;
}
.menu {
    width: 15%;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.welcome {
    width: 100%;
    text-align: center;
    margin: 100px 0 80px 0;
}

.menu-contents {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 50px;
    z-index: 3;
    position: relative;
}

.icon {
    padding-right: 20px;
}

.logo {
    width: 200px;
    z-index: 1;
    position: absolute;
    bottom: 26%;
}

.content{
    height: 700px;
    width:100%;
    background-color: #a6bedb;
    border-radius: 40px 40px 0 0;
    padding: 50px;
}
