:root {
    --white: #ffffff;
    --baby-blue: #81a1c8;
    --baby-blue-darker: #456fa2;
}

* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}
body {
    height: 100vh;
    background-color: var(--baby-blue);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.register-container {
    background-color: white;
    height: 600px;
    width: 500px;
    position: relative;
}

.register-container .medic-photo {
    position: absolute;
    top: 47%;
    left: -82%;
    height: 320px;
    z-index: 1;
}
.register-container .cat-photo {
    position: absolute;
    top: 79%;
    left: 5%;
    height: 130px;
    z-index: 1;
}
.register-content {
    height: 600px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}
.register-content h2 {
    margin: 30px;
    font-size: 35px;
    color: var(--baby-blue-darker);
}
.register-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.register-input {
    width: 250px;
    height: 30px;
    border: none;
    margin-left: 20px;
    outline: none;
    font-size: 20px;
    position: relative;
    z-index: 2;
}
.register-button {
    width: 200px;
    height: 40px;
    margin-top: 40px;
    border: none;
    background-color: var(--baby-blue);
    color: var(--white);
    cursor: pointer;
    z-index: 2;
    font-size: 15px;
}

.register-button:hover {
    background-color: var(--baby-blue-darker);
}

.register-label {
    color: gray;
    border-bottom: 1px solid gray;
    margin: 15px 0;
    font-size: 20px;
}

